In [1]:
import pandas as pd

In [3]:
assessor = pd.read_csv('../data/Assessor_s_Property_Database_FY14-FY18.csv')

/Users/joshfeldman/Harvard/Courses/Fall2019/Capstone/AC297r_2019_somerville_parking/somerville/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,53,54,59,60,61,62,63,64,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
assessor['MBL'] = assessor.MAP.astype(str) +"-"+ assessor.BLOCK.astype(str) +"-"+  assessor.LOT.astype(str)

In [22]:
assessor = assessor[assessor.FISCAL_YEAR == 2018]

In [46]:
garage_df = (
    assessor
    .groupby('MBL')['HAS GARAGE']
    .apply(list)
    .apply(lambda l: 1 if 'Y' in l else 0)
    .reset_index()
    .rename({'HAS GARAGE':'HAS_GARAGE'}, axis =1)
    [garage_df.HAS_GARAGE == 1]
)

In [47]:
garage_df

           MBL  HAS_GARAGE
15       1-E-1           1
16      1-E-10           1
17      1-E-11           1
18      1-E-12           1
20      1-E-14           1
...        ...         ...
13179   95-B-1           1
13191   95-C-1           1
13200   95-C-6           1
13248  97-B-13           1
13285  97-E-10           1

[2480 rows x 2 columns]

In [48]:
garage_df.to_csv('../data/garage.csv')