In [16]:
from src.raster import Raster
import pandas as pd
import geopandas as gpd
import os

from os import listdir
from os.path import isfile, join

from src.streetview import save_streetview_image, KEY
import pandas as pd
import numpy as np
import re
import time
from django.utils import text
from os import listdir
from os.path import isfile, join

# Get rasters to be labelled

In [2]:
data_dir = '../data/SplitRaster/'

In [15]:
images = []
for file in os.listdir(data_dir):
    if file.endswith(".TIF"):
        images.append(file)

parcels = gpd.read_file('../data/Parcels_shape/')

parcel_nums = [int(x.replace('parcel','').replace('.TIF','')) for x in images]
rasters_3000 = parcels.iloc[parcel_nums]

3334

In [22]:
rasters_3000 = rasters_3000[['MBL', 'AddNum', 'Street']]
rasters_3000.head()

           MBL AddNum         Street
10526   91-G-8     86      MYRTLE ST
11638   80-G-6     47  GREENVILLE ST
12331  66-A-23    109      BEACON ST
12457  65-E-27     31      HAROLD ST
10240   38-D-3     50      LOWELL ST

# Get streetview to be labelled

In [24]:
address_list = pd.read_csv('../data/address_MBL.csv', index_col=0)
address_list.head()

     MBL                       SITE_ADDR
0  1-C-5  190 BOSTON AVE, Somerville, MA
1  1-C-6  188 BOSTON AVE, Somerville, MA
2  1-C-7  184 BOSTON AVE, Somerville, MA
3  1-C-8  180 BOSTON AVE, Somerville, MA
4  1-C-9  178 BOSTON AVE, Somerville, MA

# Create New Labelling List

In [88]:
to_label_3000 = address_list.merge(rasters_3000, on = 'MBL', how = 'inner')

already_labelled = pd.read_csv("../data/training/all_labels.csv", index_col = 0)
MBLs = list(already_labelled.MBL)
to_label_3000 = to_label_3000[~to_label_3000.MBL.isin(MBLs)]

to_label_3000.to_csv('../data/training3000/to_label_3000.csv')

# Delete Extra Street View

In [79]:
def clean_address(adr, slugify = True):
    street_adr = adr.split(',')[0]
    fn = re.sub(' +','_',street_adr)
    if slugify:
        fn = text.slugify(fn)
    return fn + '.jpg'

In [80]:
sv_to_label = to_label_3000.SITE_ADDR.apply(clean_address)
all_sv = [f for f in listdir("../data/training3000/sv_images/") 
                           if isfile(join("../data/training3000/sv_images/", f))]

In [81]:
to_delete_sv = set(all_sv) - set(sv_to_label)

In [82]:
for file in to_delete_sv:
    os.remove("../data/training3000/sv_images/" + file)

# Delete Extra Raster

In [83]:
def get_name(row):
    if row['AddNum'] is None:
        row['AddNum'] = 'unknown'
    if row['Street'] is None:
        row['Street'] = 'unknown'
    address = str(row['AddNum']) + ' ' +row['Street']
    address_cln = address.lower().replace('  ',' ').replace(' ','_')
    filename = address_cln + '_aerial.png'
    return(filename)

In [84]:
raster_to_label = to_label_3000.apply(get_name, axis = 1)

In [85]:
all_raster = [f for f in listdir("../data/training3000/aerial_images/") 
                           if isfile(join("../data/training3000/aerial_images/", f))]

In [86]:
to_delete_raster = set(all_raster) - set(raster_to_label)

In [87]:
for file in to_delete_raster:
    os.remove("../data/training3000/aerial_images/" + file)